$midnight-blue: #003366;
$midnight-blue-transient: #1060b1d2;
$midnight-blue-light: #003366c5;
$midnight-blue-dark: #1060b1f8;
$oregon: #993300;
$oregon-light: #993300c5;
$silver-grey-dark: #cccccc0e;
$silver-grey-light: #cccccc65;
$primary: #42619b;
$white: #fff;
$black: #000;
$success: #5cb85c;
$success-dark: #438843;
$warning: #FFC107;
$warning-dark: #E0A800;
$primary: #0275d8;
$primary-dark: #0069D9;
$danger: #d9534f;
$danger-dark: #C9302C;
$info: #5bc0de;
$info-dark: #138496;