* {
    border-radius: 4px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    height: 100vh;
    @include center;
    background: $midnight-blue;
    width: 100vw;
    position: relative;
}